/* button{
    width: 75px;
    height: 25px;
    background-color: #ac65ac;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
} */

.nombres{
    color: blue;
}

#listaNombres{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 5px 40px;
}